# Additional information to Data Formats and API

Summary of options

## Data Serialization and Formats
Serialization is the process of converting data structures or objects into a format that can be easily stored and shared. Common data formats in Python include:
- **JSON**: Lightweight and commonly used for APIs.
- **CSV**: Ideal for tabular data, especially in spreadsheets.
- **YAML**: Human-readable and used for configurations.
- **Parquet**: Columnar storage format optimized for big data applications.

## JSON

- **Markdown:** Introduction to JSON, its structure, and its typical uses.
- **Code cell:** Reading and writing JSON.
- **Expected output**: Print statement showing the loaded JSON data.

In [1]:
import pandas as pd

In [2]:
!mkdir data

mkdir: data: File exists

In [3]:
import json
    
data = {
    "name": "Alice",
    "age": 30,
    "is_member": True,
    "hobbies": ["reading", "biking", "coding"]
}

# Serialize to JSON
with open('data/data.json', 'w') as f:
    json.dump(data, f)

# Deserialize JSON
with open('data/data.json', 'r') as f:
    data_loaded = json.load(f)

print("Loaded JSON data:", data_loaded)

Loaded JSON data: {'name': 'Alice', 'age': 30, 'is_member': True, 'hobbies': ['reading', 'biking', 'coding']}

In [4]:
pd.DataFrame(data_loaded)

    name  age  is_member  hobbies
0  Alice   30       True  reading
1  Alice   30       True   biking
2  Alice   30       True   coding

### CSV

- **Markdown:** Explanation of CSV format and use cases.
- **Code cell:** Writing data to a CSV file and reading from it.

In [5]:
import csv
    
# Sample data
data = [
    ["Name", "Age", "Occupation"],
    ["Alice", 30, "Engineer"],
    ["Bob", 25, "Designer"],
    ["Charlie", 35, "Teacher"]
]

# Write to CSV
with open('data/data.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(data)

# Read CSV
csv_data = []
with open('data/data.csv', 'r') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)
        csv_data.append(row)

['Name', 'Age', 'Occupation']
['Alice', '30', 'Engineer']
['Bob', '25', 'Designer']
['Charlie', '35', 'Teacher']

In [6]:
pd.DataFrame(csv_data)

         0    1           2
0     Name  Age  Occupation
1    Alice   30    Engineer
2      Bob   25    Designer
3  Charlie   35     Teacher

### YAML

- **Markdown:** Overview of YAML and its use in configurations.
- **Code cell:** Writing and reading YAML data.

In [7]:
# !pip3 install pyyaml

In [8]:
import yaml

data = {
    "name": "Alice",
    "age": 30,
    "is_member": True,
    "hobbies": ["reading", "biking", "coding"]
}

# Write YAML
with open('data/data.yaml', 'w') as f:
    yaml.dump(data, f)

# Read YAML
with open('data/data.yaml', 'r') as f:
    data_loaded = yaml.safe_load(f)

print("Loaded YAML data:", data_loaded)

Loaded YAML data: {'age': 30, 'hobbies': ['reading', 'biking', 'coding'], 'is_member': True, 'name': 'Alice'}

### Parquet

- **Markdown:** Introduction to Parquet, commonly used for large datasets and data processing.
- **Code cell:** Writing to and reading from a Parquet file using Pandas.

In [9]:
# !pip3 install parquet
# !pip3 install pyarrow

In [10]:
import pandas as pd

# Sample data
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [30, 25, 35],
    'Occupation': ['Engineer', 'Designer', 'Teacher']
})

# Write Parquet
df.to_parquet('data/data.parquet')

# Read Parquet
df_loaded = pd.read_parquet('data/data.parquet')
print("Loaded Parquet data:")
print(df_loaded)

Loaded Parquet data:
      Name  Age Occupation
0    Alice   30   Engineer
1      Bob   25   Designer
2  Charlie   35    Teacher

In [11]:
pd.DataFrame(df_loaded)

      Name  Age Occupation
0    Alice   30   Engineer
1      Bob   25   Designer
2  Charlie   35    Teacher

## Data Connections and Databases

### `Data Connections in Python: SQL and NoSQL`

1. **Introduction to Databases**
    - **Markdown:** Overview of SQL and NoSQL databases, their differences, and common use cases.
2. **SQL with SQLite**
    - **Markdown:** Introduction to SQLite, a lightweight SQL database.
    - **Code cell:** Creating a table, inserting data, and querying.

In [12]:
import sqlite3

conn = sqlite3.connect('data/example2.db') # Create a database file
cursor = conn.cursor() # Create a cursor object

cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER,
    occupation TEXT
)
''')

users = [(1, 'Alice', 30, 'Engineer'),
            (2, 'Bob', 25, 'Designer'),
            (3, 'Charlie', 35, 'Teacher')]

cursor.executemany("INSERT INTO users VALUES (?, ?, ?, ?)", users)
conn.commit()

cursor.execute("SELECT * FROM users")
results = cursor.fetchall()

print("Database records:", results)

conn.close()

Database records: [(1, 'Alice', 30, 'Engineer'), (2, 'Bob', 25, 'Designer'), (3, 'Charlie', 35, 'Teacher')]

In [13]:
pd.DataFrame(results)

   0        1   2         3
0  1    Alice  30  Engineer
1  2      Bob  25  Designer
2  3  Charlie  35   Teacher

In [14]:
conn = sqlite3.connect('data/example2.db') # Create a database file
cursor = conn.cursor() # Create a cursor object

db_sel = cursor.execute("SELECT * FROM users")
db2 = db_sel.fetchall()

conn.close()

In [15]:
db2

[(1, 'Alice', 30, 'Engineer'),
 (2, 'Bob', 25, 'Designer'),
 (3, 'Charlie', 35, 'Teacher')]

## SQL, sqlite example from chatGPT

- `prompt`: use a sqlite and create a sample database of 5 columns and 20 items of random fruits and trees.

In [16]:
import sqlite3
import random

# Sample fruit and tree data to use
fruit_names = ["Apple", "Banana", "Cherry", "Date", "Elderberry", "Fig", "Grapefruit", "Honeydew", "Indian Fig", "Jackfruit",
               "Kiwi", "Lemon", "Mango", "Nectarine", "Orange", "Papaya", "Quince", "Raspberry", "Strawberry", "Tangerine"]
tree_types = ["Oak", "Maple", "Pine", "Birch", "Cedar", "Spruce", "Palm", "Redwood", "Cypress", "Sycamore",
              "Willow", "Beech", "Aspen", "Fir", "Hemlock", "Sequoia", "Eucalyptus", "Acacia", "Hickory", "Chestnut"]

# Create a SQLite database in memory and a cursor
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create the table with 5 columns: ID, FruitName, TreeType, Quantity, and PricePerUnit
cursor.execute('''
CREATE TABLE FruitsAndTrees (
    ID INTEGER PRIMARY KEY,
    FruitName TEXT,
    TreeType TEXT,
    Quantity INTEGER,
    PricePerUnit REAL
)
''')

# Populate the table with 20 random entries
for i in range(20):
    fruit_name = random.choice(fruit_names)
    tree_type = random.choice(tree_types)
    quantity = random.randint(10, 100)  # Random quantity between 10 and 100
    price_per_unit = round(random.uniform(0.5, 5.0), 2)  # Random price between 0.5 and 5.0

    cursor.execute('''
    INSERT INTO FruitsAndTrees (FruitName, TreeType, Quantity, PricePerUnit)
    VALUES (?, ?, ?, ?)
    ''', (fruit_name, tree_type, quantity, price_per_unit))

# Commit the transaction
conn.commit()

# Query the database to verify entries
cursor.execute("SELECT * FROM FruitsAndTrees")
sample_data = cursor.fetchall()

# Close the database connection after querying
conn.close()

sample_data

[(1, 'Cherry', 'Fir', 42, 2.32),
 (2, 'Mango', 'Oak', 44, 4.13),
 (3, 'Quince', 'Eucalyptus', 21, 1.49),
 (4, 'Papaya', 'Hemlock', 16, 1.68),
 (5, 'Kiwi', 'Sequoia', 92, 3.63),
 (6, 'Date', 'Acacia', 99, 1.47),
 (7, 'Date', 'Redwood', 80, 1.31),
 (8, 'Strawberry', 'Cypress', 64, 4.25),
 (9, 'Quince', 'Cedar', 29, 2.38),
 (10, 'Quince', 'Eucalyptus', 93, 2.0),
 (11, 'Fig', 'Hemlock', 53, 1.49),
 (12, 'Grapefruit', 'Acacia', 20, 2.04),
 (13, 'Kiwi', 'Maple', 17, 1.86),
 (14, 'Jackfruit', 'Fir', 95, 1.37),
 (15, 'Quince', 'Hemlock', 56, 3.34),
 (16, 'Papaya', 'Sycamore', 19, 3.94),
 (17, 'Honeydew', 'Willow', 38, 2.43),
 (18, 'Jackfruit', 'Willow', 31, 4.88),
 (19, 'Kiwi', 'Palm', 70, 3.87),
 (20, 'Date', 'Chestnut', 75, 2.27)]

### **NoSQL with MongoDB**

- **Markdown:** Overview of NoSQL databases, specifically MongoDB.
- **Code cell:** Inserting and querying documents with MongoDB (requires MongoDB server or MongoDB Atlas setup).

In [17]:
# from pymongo import MongoClient

# client = MongoClient("mongodb://localhost:27017/")
# db = client["seminar_db"]
# collection = db["users"]

# users = [
#     {"name": "Alice", "age": 30, "occupation": "Engineer"},
#     {"name": "Bob", "age": 25, "occupation": "Designer"},
#     {"name": "Charlie", "age": 35, "occupation": "Teacher"}
# ]
# collection.insert_many(users)

# for user in collection.find():
#     print("MongoDB record:", user)

## Working with Requests and HTTP

### `Making HTTP Requests in Python`

1. **Introduction to HTTP and Requests**
    - **Markdown:** Basic overview of HTTP methods and requests.
2. **GET and POST Requests**
    - **Markdown:** Explanation of GET vs. POST requests.
    - **Code cell:** Making sample GET and POST requests with the `requests` library.

In [18]:
# !pip3 install requests

In [19]:
import requests

response = requests.get("https://jsonplaceholder.typicode.com/posts/1")
print("GET response:", response.json())

payload = {"title": "New Post", "body": "This is the body", "userId": 1}
response = requests.post("https://jsonplaceholder.typicode.com/posts", json=payload)
print("POST response:", response.json())

GET response: {'userId': 1, 'id': 1, 'title': 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit', 'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'}
POST response: {'title': 'New Post', 'body': 'This is the body', 'userId': 1, 'id': 101}

## Working with APIs

### `API Interaction with Python`

1. **Introduction to APIs**
    - **Markdown:** Overview of RESTful APIs and common practices.
2. **GitHub API Example**
    - **Markdown:** Walkthrough of accessing GitHub API to get repository data.
    - **Code cell:** Making a GET request to GitHub’s API.

In [20]:
url = "https://api.github.com/repos/python/cpython"
response = requests.get(url)
data = response.json()

print("Repository Name:", data["name"])
print("Stars:", data["stargazers_count"])
print("Forks:", data["forks_count"])

Repository Name: cpython
Stars: 63444
Forks: 30380

In [21]:
data

{'id': 81598961,
 'node_id': 'MDEwOlJlcG9zaXRvcnk4MTU5ODk2MQ==',
 'name': 'cpython',
 'full_name': 'python/cpython',
 'private': False,
 'owner': {'login': 'python',
  'id': 1525981,
  'node_id': 'MDEyOk9yZ2FuaXphdGlvbjE1MjU5ODE=',
  'avatar_url': 'https://avatars.githubusercontent.com/u/1525981?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/python',
  'html_url': 'https://github.com/python',
  'followers_url': 'https://api.github.com/users/python/followers',
  'following_url': 'https://api.github.com/users/python/following{/other_user}',
  'gists_url': 'https://api.github.com/users/python/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/python/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/python/subscriptions',
  'organizations_url': 'https://api.github.com/users/python/orgs',
  'repos_url': 'https://api.github.com/users/python/repos',
  'events_url': 'https://api.github.com/users/python/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/python/received_events',
  'type': 'Organization',
  'user_view_type': 'public',
  'site_admin': False},
 'html_url': 'https://github.com/python/cpython',
 'description': 'The Python programming language',
 'fork': False,
 'url': 'https://api.github.com/repos/python/cpython',
 'forks_url': 'https://api.github.com/repos/python/cpython/forks',
 'keys_url': 'https://api.github.com/repos/python/cpython/keys{/key_id}',
 'collaborators_url': 'https://api.github.com/repos/python/cpython/collaborators{/collaborator}',
 'teams_url': 'https://api.github.com/repos/python/cpython/teams',
 'hooks_url': 'https://api.github.com/repos/python/cpython/hooks',
 'issue_events_url': 'https://api.github.com/repos/python/cpython/issues/events{/number}',
 'events_url': 'https://api.github.com/repos/python/cpython/events',
 'assignees_url': 'https://api.github.com/repos/python/cpython/assignees{/user}',
 'branches_url': 'https://api.github.com/repos/python/cpython/branches{/branch}',
 'tags_url': 'https://api.github.com/repos/python/cpython/tags',
 'blobs_url': 'https://api.github.com/repos/python/cpython/git/blobs{/sha}',
 'git_tags_url': 'https://api.github.com/repos/python/cpython/git/tags{/sha}',
 'git_refs_url': 'https://api.github.com/repos/python/cpython/git/refs{/sha}',
 'trees_url': 'https://api.github.com/repos/python/cpython/git/trees{/sha}',
 'statuses_url': 'https://api.github.com/repos/python/cpython/statuses/{sha}',
 'languages_url': 'https://api.github.com/repos/python/cpython/languages',
 'stargazers_url': 'https://api.github.com/repos/python/cpython/stargazers',
 'contributors_url': 'https://api.github.com/repos/python/cpython/contributors',
 'subscribers_url': 'https://api.github.com/repos/python/cpython/subscribers',
 'subscription_url': 'https://api.github.com/repos/python/cpython/subscription',
 'commits_url': 'https://api.github.com/repos/python/cpython/commits{/sha}',
 'git_commits_url': 'https://api.github.com/repos/python/cpython/git/commits{/sha}',
 'comments_url': 'https://api.github.com/repos/python/cpython/comments{/number}',
 'issue_comment_url': 'https://api.github.com/repos/python/cpython/issues/comments{/number}',
 'contents_url': 'https://api.github.com/repos/python/cpython/contents/{+path}',
 'compare_url': 'https://api.github.com/repos/python/cpython/compare/{base}...{head}',
 'merges_url': 'https://api.github.com/repos/python/cpython/merges',
 'archive_url': 'https://api.github.com/repos/python/cpython/{archive_format}{/ref}',
 'downloads_url': 'https://api.github.com/repos/python/cpython/downloads',
 'issues_url': 'https://api.github.com/repos/python/cpython/issues{/number}',
 'pulls_url': 'https://api.github.com/repos/python/cpython/pulls{/number}',
 'milestones_url': 'https://api.github.com/repos/python/cpython/milestones{/number}',
 'notifications_url': 'https://api.github.com/repos/python/cpython/notifications{?since,all,participating}',
 'labels_url': 'https://api.github.com/repos/python/cpython/labels{/name}',
 'releases_url': 'https://api.github.com/repos/python/cpython/releases{/id}',
 'deployments_url': 'https://api.github.com/repos/python/cpython/deployments',
 'created_at': '2017-02-10T19:23:51Z',
 'updated_at': '2024-11-12T19:52:39Z',
 'pushed_at': '2024-11-12T19:52:30Z',
 'git_url': 'git://github.com/python/cpython.git',
 'ssh_url': 'git@github.com:python/cpython.git',
 'clone_url': 'https://github.com/python/cpython.git',
 'svn_url': 'https://github.com/python/cpython',
 'homepage': 'https://www.python.org',
 'size': 643192,
 'stargazers_count': 63444,
 'watchers_count': 63444,
 'language': 'Python',
 'has_issues': True,
 'has_projects': True,
 'has_downloads': True,
 'has_wiki': False,
 'has_pages': False,
 'has_discussions': False,
 'forks_count': 30380,
 'mirror_url': None,
 'archived': False,
 'disabled': False,
 'open_issues_count': 8817,
 'license': {'key': 'other',
  'name': 'Other',
  'spdx_id': 'NOASSERTION',
  'url': None,
  'node_id': 'MDc6TGljZW5zZTA='},
 'allow_forking': True,
 'is_template': False,
 'web_commit_signoff_required': False,
 'topics': [],
 'visibility': 'public',
 'forks': 30380,
 'open_issues': 8817,
 'watchers': 63444,
 'default_branch': 'main',
 'temp_clone_token': None,
 'custom_properties': {},
 'organization': {'login': 'python',
  'id': 1525981,
  'node_id': 'MDEyOk9yZ2FuaXphdGlvbjE1MjU5ODE=',
  'avatar_url': 'https://avatars.githubusercontent.com/u/1525981?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/python',
  'html_url': 'https://github.com/python',
  'followers_url': 'https://api.github.com/users/python/followers',
  'following_url': 'https://api.github.com/users/python/following{/other_user}',
  'gists_url': 'https://api.github.com/users/python/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/python/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/python/subscriptions',
  'organizations_url': 'https://api.github.com/users/python/orgs',
  'repos_url': 'https://api.github.com/users/python/repos',
  'events_url': 'https://api.github.com/users/python/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/python/received_events',
  'type': 'Organization',
  'user_view_type': 'public',
  'site_admin': False},
 'network_count': 30380,
 'subscribers_count': 1522}